<?php /** @var \Kraft\Proteria\Block\Admin\System\Config\Frontend\ParcelTypes $block */ ?>

<td class="label"><h2><?php echo __('Shipping Method and Parcel Types Mapping')?></h2></td>
<td class="value">
    <?php if (!$block->canShowInputs()): ?>
        <p><?php echo __('To edit parcel types, please ensure that you have saved an API key and a customer ID.'); ?></p>
    <?php endif; ?>
</td>

<?php if ($block->canShowInputs()): ?>
    <?php foreach ($block->getMagentoShippingMethods() as $shippingMethod): ?>
    <tr>
        <td class="label"><?php echo __($shippingMethod['label']) ?>:</td>
        <td class="value">
            <select class="method_mapping_input" name="<?php echo $shippingMethod['value'] ?>_mapping">
                <?php foreach ($block->getProteriaAPIAvailableShippingMethods() as $proteriaMethod): ?>
                    <option value="<?php echo $proteriaMethod['value'] ?>" <?php if ($block->getProteriaMethodForShippingMethod($shippingMethod['value']) == $proteriaMethod['value']): ?>selected="selected"<?php endif;?>>
                        <?php echo $proteriaMethod['label'] ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </td>
    </tr>
    <?php endforeach; ?>
<?php endif; ?>

<script type="text/javascript">
    require(['jquery'], function ($) {
        $(document).ready(() => {
            const methodMappingInputs = Array.from(document.querySelectorAll('.method_mapping_input'));
            const parcelTypesInput = document.querySelector('#proteria_config_parcel_types_updated');

            methodMappingInputs.forEach(el => {
                el.addEventListener('change', () => {
                    parcelTypesInput.value = 'changed';
                });
            });
        });
    });
</script>